.wrapper {
  width: 1144px;
  margin: 0 auto;
  font-family: "Baskerville Old Face";
}

h1 {
  font-size: 60px;
  color: #1D7373;
  margin-top: 35px;
  margin-left: 80px
}

h2 {
  color: #90cab6;
  font-size: 35px;
  margin-left: 160px;
}

.photo {
  margin-left: 100px;
}

.photo img {
  width: 200px;
  border-radius: 50%;
  position: inherit;
}

.profile {
  margin-top: 40px;
  display: flex;
  justify-content: center;;
}

.about {
  margin-left: 70px;
}

.name {
  margin-left: 40px;
}


.nav {
  display: flex;
  justify-content: space-between;
}

.content-field {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.content-name {
  font-size: 40px;
  text-align:center;
  width: 230px;
  height: 100px;
  margin-top: 20px;
  margin-left: 170px;
  background-color:#66A1D2 ;
  color: #FF0000;
  border-radius: 40%;
}


.content {
  background-color: #5CCDC9;
  width: 735px;
  margin-right: 38pxpx;
  border-radius: 15px;

}
.content p{
  margin-left: 24px;
  font-size: 18px;
}

.content-name p {
  margin: 0 auto;
  margin-top: 25px;
  margin-left: 10px;
}